.email-wrap{
    .box-sizing(border-box);
    height: 100%;
    width: 100%;
    padding: 15px;
    background: #f5f5f5;
     overflow-x: hidden;
    overflow-y: auto;
    .email-write-btn{
        width: 100%;
    }
    .email-folder{
        padding-top: 20px;
        dt{
            font-size: 14px;
            font-weight: bold;
            color: #333;
            line-height: 32px;
        }
        dd{
            font-size: 12px;
            color: #545454;
            line-height: 32px;
            border-bottom: 1px solid #eee;
            button{
                margin-top: 4px;
            }
            .iconfont,.layui-icon{
                float: left;
                padding-right: 10px;
                font-size: 16px;
            }
        }
    }
    .email-classify{
        padding-top: 20px;
         dt{
            font-size: 14px;
            font-weight: bold;
            color: #333;
            line-height: 32px;
        }
        dd{
            font-size: 12px;
            color: #545454;
            line-height: 32px;
             .iconfont,.layui-icon{
                float: left;
                padding-right: 10px;
                font-size: 14px;
            }
            .icon-blue{
                color: #01AAED;
            }
            .icon-green{
                color: #009688;
            }
            .icon-wran{
                color:#F7B824;
            }
            .icon-red{
                color: #FF5722;
            }
            .icon-gray{
                color:#2F4056;
            }
        }
    }
    .email-label{
         padding-top: 20px;
         dt{
            font-size: 14px;
            font-weight: bold;
            color: #333;
            line-height: 32px;
        }
    }
    .email-content{
         .box-sizing(border-box);
        background: #fff;
        height: 100%;
        width: 100%;
        padding: 15px;
    }
    .email-content-title{
        padding:15px 15px 30px;
        .write-title{
            font-size: 20px;
        }
    }
}
