.column-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0px;
  background: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;
}
.iframe-h {
  height: 100%;
}
.column-edge {
  float: left;
  padding-top: 16px;
  width: 150px;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.column-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  background: #f5f5f5;
  height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
}
.column-content-detail {
  background: #fff;
  padding: 20px;
  margin: 0;
}
.page-content {
  padding: 0px;
}
.page-content-wrap {
  background: #fff;
  padding: 20px;
  margin: 0;
}
@media (max-width: 600px) {
  .layui-nav-no-bg {
    background: #fff;
  }
  .layui-nav-no-bg .layui-nav-item {
    border-bottom: 1px solid #f8f8f8;
  }
  .column-edge {
    float: none;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }
  .column-content {
    background: #fff;
    height: auto;
    margin-left: 0px;
  }
  .layui-tab-content {
    padding: 15px 0;
  }
  .layui-form-label {
    padding: 9px 0px;
  }
  .layui-input-block {
    margin-left: 80px;
  }
}
